
body{
font-family: 'Poppins', sans-serif;
}
.nav-flex{
    display: flex;
    justify-content: end;
}
nav{
    color: white;
}
.header{
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    width: 100%;
    height: 100vh;
}
.Hi-section{
    font-size: 4vw;
}
p{
    font-size: 2.5vw;
    color: rgb(187, 184, 184);
}
a{
    color:White;
}
a:hover { 
    color: black;
}
.sect-heading{
text-align: center;
margin: 40px;
text-decoration: underline;
}
.projects{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #45567d;
}
.card-div{
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;


}
.card{
    width: 30vw;
    background-color: #45567d;
}
.div-btn{
    display: flex;
    justify-content: center;
}
.project-btn{
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
  color: white;
  font-weight: bold;
  width: 60vw;
  padding: 8px;
  margin: 40px;

}
.project-btn:hover{
    background-color: #45567d;
}
.github{
    height: 60vh;
    width: 100%;
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.git-btn{
    width: 20vw;
    border-radius: 10px;
    background-color: #45567d;
    color: white;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}
.git-btn:hover{
    background-color:rgb(27, 27, 27);
    ;
}
footer{
    height: 20vh;
    background-color:rgb(27, 27, 27) ;
    color: white;
    font-weight: bold;
    font-family: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}